<!--BOOK_INFORMATION-->
<img align="left" style="padding-right:10px;" src="figures/xveganx_icon.png">
*This notebook contains ongoing research material from [gully](https://twitter.com/gully_); the content is available [on GitHub](https://github.com/BrownDwarf/xveganx).*

<!--NAVIGATION-->
< [All photometry in a flat table](01.03-Flat_table_photometry.ipynb) | [Contents](Index.ipynb) | [Spectral cleaning](02.00-Clean-IGRINS-spectra.ipynb) >

# Seasonal and yearly photometry metadata

In [1]:
import warnings
warnings.filterwarnings("ignore")
import numpy as np

In [2]:
import pandas as pd

In [3]:
import sys
import os

In [4]:
sys.path.append(os.path.abspath("../code/"))

In [5]:
from xphotometryx import master_photometry
from xphotometryx import seasonal_aggregation

In [6]:
master_all = master_photometry()

In [7]:
master_all.object.unique()

array(['Anon 1', 'HD 283572', 'Hubble 4', 'LkCa 1', 'LkCa 4', 'LkCa 7',
       'LkCa 14', 'LkCa 16', 'LkCa 19', 'TAP 35', 'TAP 41', 'TAP 45',
       'V819 Tau', 'V826 Tau', 'V827 Tau', 'V836 Tau'], dtype=object)

In [8]:
this_name = 'V819 Tau'

In [9]:
master = master_all[master_all.object == this_name].reset_index(drop=True)

In [10]:
season_agg = seasonal_aggregation(master, this_name)

In [11]:
season_agg

,season,N_U,N_B,N_V,N_R,JD_min,JD_max,length,years,P_est1,P_err1
0,6,8,57,57,49,2.448126e+06,2.448271e+06,145.0,8/1990-1/1991,5.53113,0.1
1,7,3,37,37,20,2.448485e+06,2.448572e+06,87.0,8/1991-11/1991,5.53113,0.1
2,8,0,42,42,9,2.448844e+06,2.448956e+06,112.0,8/1992-11/1992,5.53113,0.1
3,9,2,25,25,19,2.449226e+06,2.449277e+06,51.0,8/1993-10/1993,5.53113,0.1
4,10,2,25,25,24,2.449575e+06,2.449640e+06,65.0,8/1994-10/1994,5.53113,0.1
5,11,3,26,26,24,2.449941e+06,2.450022e+06,81.0,8/1995-10/1995,5.53113,0.1
6,12,0,16,16,16,2.450365e+06,2.450417e+06,53.0,10/1996-11/1996,5.53113,0.1
7,13,0,21,21,21,2.450716e+06,2.450760e+06,45.0,9/1997-11/1997,5.53113,0.1
8,14,0,7,7,7,2.451139e+06,2.451165e+06,27.0,11/1998-12/1998,5.53113,0.1
9,15,4,36,36,36,2.451408e+06,2.451529e+06,121.0,8/1999-12/1999,5.53113,0.1
10,16,0,17,17,17,2.451782e+06,2.451841e+06,59.0,8/2000-10/2000,5.53113,0.1
11,17,0,18,18,17,2.452130e+06,2.452234e+06,104.0,8/2001-11/2001,5.53113,0.1
12,18,0,12,12,12,2.452557e+06,2.452609e+06,52.0,10/2002-11/2002,5.53113,0.1
13,19,0,12,12,12,2.452876e+06,2.453028e+06,152.0,8/2003-1/2004,5.53113,0.1
14,20,0,12,12,12,2.453258e+06,2.453272e+06,15.0,9/2004-9/2004,5.53113,0.1
15,29,0,0,15,0,2.456594e+06,2.456741e+06,147.0,10/2013-3/2014,5.53113,0.1
16,30,0,0,74,0,2.456852e+06,2.457092e+06,240.0,7/2014-3/2015,5.53113,0.1
17,31,0,0,81,0,2.457219e+06,2.457460e+06,241.0,7/2015-3/2016,5.53113,0.1
18,32,0,0,70,0,2.457584e+06,2.457824e+06,240.0,7/2016-3/2017,5.53113,0.1
19,33,0,0,2,0,2.457960e+06,2.457965e+06,5.0,7/2017-7/2017,5.53113,0.1

## The end

<!--NAVIGATION-->
< [All photometry in a flat table](01.03-Flat_table_photometry.ipynb) | [Contents](Index.ipynb) | [Spectral cleaning](02.00-Clean-IGRINS-spectra.ipynb) >