<!--BOOK_INFORMATION-->
<img align="left" style="padding-right:10px;" src="figures/xveganx_icon.png">
*This notebook contains ongoing research material from [gully](https://twitter.com/gully_); the content is available [on GitHub](https://github.com/BrownDwarf/xveganx).*

<!--NAVIGATION-->
< [Measuring starspots on young stars](00.00-Preface.ipynb) | [Contents](Index.ipynb) | [IGRINS FITS files](01.01-IGRINS_FITS_header_table.ipynb) >

# Metadata

This project contains various forms of metadata, for example:
- Target lists
- Period estimates from Grankin et al.
- Observing logs
- Alternate names of targets
- Spectral inference job runs

In this chapter, we track the metadata to facilitate retrieval and analysis of data.

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

|filename|Description| $N_{rows}$|$N_{cols}$|
|:--|:--|--|--|
|**`Grankin08_physical.csv`**| The Name, Rotation Period, Spectral Type and Multiplicity for all objects in Grankin et al. 2008.|16|4|
|**`IGRINS_hdr_table.csv`** | Selected the FITS header cards for the IGRINS spectra of the Grankin sample.|22|26|
|**`K2_EPIC.numbers`** | The EPIC names (if available) of the 16 Grankin sources, and flag for C13 data available| 16|3|
|**`MGS_Data_request_August9_2016.xlsx`** | Info on IGRINS proposers and observers, dates, and number of epochs available| 17| 10|
|**`MGS_addendum_request_20170829.csv`** | The Objectname, UTDATE of IGRINS observation, and the H and K filenames| 21| 4|
|**`photometry_filenames.csv`** | The lookup table for photometry filenames for master, ASASSN, and Grankin| 16| 4|

In [2]:
! ls ../data/metadata/

Grankin08_physical.csv             MGS_addendum_request_20170829.csv
IGRINS_hdr_table.csv               photometry_filenames.csv
K2_EPIC.numbers                    photometry_filenames.numbers
MGS_Data_request_August9_2016.xlsx target_list

In [3]:
import pandas as pd

In [5]:
pd.read_csv('../data/metadata/Grankin08_physical.csv').head()

        name  Period      SpT mult
0     Anon 1   6.493   M0
1  HD 283572   1.529   G6 IV
2   Hubble 4     NaN   K7
3     LkCa 1   2.497   M4
4     LkCa 4   3.374   K7

In [6]:
#pd.read_csv('../data/metadata/IGRINS_hdr_table.csv').columns

In [8]:
usecols = ['filename_H', 'AMEND', 'AMSTART', 'ACQTIME1', 'DATE-END', 'DATE-OBS', 'ACQTIME', 'ALT', 'OBJECT']
pd.read_csv('../data/metadata/IGRINS_hdr_table.csv', usecols=usecols).head()

,filename_H,AMEND,AMSTART,ACQTIME1,DATE-END,DATE-OBS,ACQTIME,ALT,OBJECT
0,SDCH_20141118_0174.spec_a0v.fits,1.1205,1.1205,2014-11-19-09:20:15.889,2014-11-19-09:20:15.889,2014-11-19-09:20:15.889,2.456981e+06,2.5,Anon1
1,SDCH_20141119_0119.spec_a0v.fits,1.0467,1.0467,2014-11-20-08:39:59.861,2014-11-20-08:39:59.861,2014-11-20-08:39:59.861,2.456982e+06,30.4,HD283572
2,SDCH_20141120_0104.spec_a0v.fits,1.1631,1.1631,2014-11-21-05:23:40.724,2014-11-21-05:23:40.724,2014-11-21-05:23:40.724,2.456983e+06,22.7,V827Tau
3,SDCH_20141120_0119.spec_a0v.fits,1.0129,1.0129,2014-11-21-07:55:12.830,2014-11-21-07:55:12.830,2014-11-21-07:55:12.830,2.456983e+06,12.5,Hubble_4
4,SDCH_20141122_0157.spec_a0v.fits,1.0222,1.0222,2014-11-23-08:16:28.844,2014-11-23-08:16:28.844,2014-11-23-08:16:28.844,2.456985e+06,23.8,IW Tau A

In [9]:
! open ../data/metadata/K2_EPIC.numbers

In [10]:
! open ../data/metadata/MGS_Data_request_August9_2016.xlsx

In [11]:
pd.read_csv('../data/metadata/MGS_addendum_request_20170829.csv').head()

,OBJECT,UTDATE,filename_K,filename_H
0,Anon1,2014-11-19,SDCK_20141118_0174.spec_a0v.fits,SDCH_20141118_0174.spec_a0v.fits
1,HD283572,2014-11-20,SDCK_20141119_0119.spec_a0v.fits,SDCH_20141119_0119.spec_a0v.fits
2,V827Tau,2014-11-21,SDCK_20141120_0104.spec_a0v.fits,SDCH_20141120_0104.spec_a0v.fits
3,Hubble_4,2014-11-21,SDCK_20141120_0119.spec_a0v.fits,SDCH_20141120_0119.spec_a0v.fits
4,IW Tau A,2014-11-23,SDCK_20141122_0157.spec_a0v.fits,SDCH_20141122_0157.spec_a0v.fits

In [12]:
pd.read_csv('../data/metadata/photometry_filenames.csv').head()

        name           master_fn                      ASASSN_fn  Grankin08_fn
0     Anon 1     Anon_1_flat.csv      ANON1_ASASSN_20170803.csv    hbc366.dat
1  HD 283572  HD_283572_flat.csv  HD_283572_ASASSN_20170803.csv  hd283572.dat
2   Hubble 4   Hubble_4_flat.csv    HUBBLE4_ASASSN_20170803.csv    hbc374.dat
3     LkCa 1     LkCa_1_flat.csv      LkCa1_ASASSN_20170803.csv     lkca1.dat
4     LkCa 4     LkCa_4_flat.csv      LkCa4_ASASSN_20170803.csv     lkca4.dat

That's it for now.

<!--NAVIGATION-->
< [Measuring starspots on young stars](00.00-Preface.ipynb) | [Contents](Index.ipynb) | [IGRINS FITS files](01.01-IGRINS_FITS_header_table.ipynb) >