<!--BOOK_INFORMATION-->
<img align="left" style="padding-right:10px;" src="figures/xveganx_icon.png">
*This notebook contains ongoing research material from [gully](https://twitter.com/gully_); the content is available [on GitHub](https://github.com/BrownDwarf/xveganx).*

<!--NAVIGATION-->
< [IGRINS FITS files](01.01-IGRINS_FITS_header_table.ipynb) | [Contents](Index.ipynb) | [All photometry in a flat table](01.03-Flat_table_photometry.ipynb) >

# Period, Spectral Type, and multiplicity

In this notebook we make an easy-to-use table of the Period, Spectral Type, and Multiplicity of the Grankin targets.

In [1]:
import warnings
warnings.filterwarnings("ignore") # live dangerously
import numpy as np

In [2]:
import pandas as pd

In [3]:
import sys
import os

## Copy the metadata from Grankin et al. 2008

Clone my [ApJDataFrames repository](https://github.com/BrownDwarf/ApJdataFrames)/

In [4]:
usecols1 = ['Name', 'SpT', 'mult']
tab1 = pd.read_csv('../../ApJdataFrames/data/Grankin08/table1_plus.csv', 
                   usecols=usecols1).rename(columns={'Name':'name'})
tab1['name'] = tab1.name.str.rstrip()
usecols3 = ['Name', 'Period']
tab3 = pd.read_csv('../../ApJdataFrames/data/Grankin08/table3.csv', 
                   usecols=usecols3).rename(columns={'Name':'name'})
tab3['name'] = tab3.name.str.rstrip().str.lstrip()

In [5]:
fn_df = pd.read_csv('../data/metadata/photometry_filenames.csv', usecols=['name'])

In [6]:
merge1 = pd.merge(fn_df, tab3, how='left', on='name')

In [7]:
merge2 = pd.merge(merge1, tab1, how='left', on='name')

In [8]:
merge2

         name   Period      SpT            mult
0      Anon 1  6.49300   M0
1   HD 283572  1.52900   G6 IV
2    Hubble 4      NaN   K7
3      LkCa 1  2.49700   M4
4      LkCa 4  3.37400   K7
5      LkCa 7  5.66380   K7           VB(1.02)
6     LkCa 14      NaN   M0
7     LkCa 16      NaN   K7           VB(0.29)
8     LkCa 19  2.23600   K0
9      TAP 35  2.73400   K1
10     TAP 41  2.42500   K7
11     TAP 45  9.90900   K7
12   V819 Tau  5.53113   K7           VB(10.5)
13   V826 Tau      NaN   K7       SB($P=3.9$d)
14   V827 Tau  3.75837   K7
15   V836 Tau  6.75791   K7

In [9]:
merge2.to_csv('../data/metadata/Grankin08_physical.csv', index=False)

### The end

<!--NAVIGATION-->
< [IGRINS FITS files](01.01-IGRINS_FITS_header_table.ipynb) | [Contents](Index.ipynb) | [All photometry in a flat table](01.03-Flat_table_photometry.ipynb) >