# `xveganx`
## Chapter 4: Photometry
### Part II. Grankin data

In this notebook we retrieve all the Grankin data.  These sources were all selected for the virtue of having Grankin et al. 2008 photometry, so we know that all sources have photometry.

|Source| Available| Retrieved|
|--|--|--|
|Anon 1| Y | Y |
|HD 283572| Y | Y |
|Hubble 4| Y | Y |
|LkCa 1| Y | Y |
|LkCa 4| Y | Y |
|LkCa 7| Y | Y |
|LkCa 14| Y | Y |
|LkCa 16| Y | Y |
|LkCa 19| Y | Y |
|TAP 35| Y | Y |
|TAP 41| Y | Y |
|TAP 45| Y | Y |
|V819 Tau| Y | Y |
|V826 Tau| Y | Y |
|V827 Tau| Y | Y |
|V836 Tau| Y | Y |

There are a bunch more sources in the Grankin list, but these sources already have IGRINS data available, and we have the data in hand.

In [1]:
import numpy as np

In [2]:
import pandas as pd

## Download the data

You need to do this manually and save it to a local directory:  
`../data/Grankin_2008/`

http://cdsweb.u-strasbg.fr/cgi-bin/qcat?J/A+A/479/827

In [3]:
! ls ../data/Grankin_2008/

hbc366.dat   lkca14.dat   lkca21.dat   lkca7.dat    v819tau.dat
hbc374.dat   lkca16.dat   lkca3.dat    tap35.dat    v826tau.dat
hd283572.dat lkca19.dat   lkca4.dat    tap41.dat    v827tau.dat
lkca1.dat    lkca2.dat    lkca5.dat    tap45.dat    v836tau.dat

In [4]:
! head -n 3 ../data/Grankin_2008/hbc366.dat

In [5]:
cols = ['HJD', 'Vmag', 'U_B', 'B_V', 'V_R']

In [6]:
grankin_data = pd.read_csv('../data/Grankin_2008/hbc366.dat', na_values=9.999,
                           names=cols, delim_whitespace=True)
grankin_data.head()

            HJD    Vmag  U_B    B_V    V_R
0  2.448953e+06  13.464  NaN  1.801  1.832
1  2.448954e+06  13.484  NaN  1.822  1.847
2  2.448956e+06  13.482  NaN  1.920  1.837
3  2.448957e+06  13.452  NaN  1.825  1.860
4  2.448960e+06  13.482  NaN  1.919  1.860

All set!